@font-face {
    font-family: 'OratorW01-Medium';
    src: url('../img/OratorW01-Medium.ttf') format('truetype');
}

body {
    font-family: 'OratorW01-Medium', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

h1 {
    color: #000;
    margin-top: 20px;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    max-width: 800px;
}

.admin-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.admin-section h2 {
    color: #000;
    margin-top: 0;
}

.admin-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-section input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
}

.admin-section select {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
}

.admin-section button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-section button:hover {
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.actions button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #333;
}
